@import "tailwindcss";
@import "../components/ui/shiny-button.css";

:root {
  /*backgrounds*/
  --color-ink-black: #09061A;
  --color-dark-amethyst: #1A0F47;

  /*action elements*/
  --color-violet-twilight: #5B3FD4;

  /*standard text*/
  --color-periwinkle: #D5D2F7;

  /*highlights*/
  --color-fresh-sky: #00AAFF;

}

@theme inline {
  --font-sans: var(--font-body);
  --font-header: var(--font-header);
  --font-body: var(--font-body);
  --font-techy: var(--font-techy);
}


body {
  background: linear-gradient(135deg, var(--color-ink-black) 0%, var(--color-dark-amethyst) 100%);
  color: var(--color-periwinkle);
  font-family: var(--font-body);
}


