@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700&family=DM+Sans:wght@400;500&family=Space+Grotesk:wght@400;500;600&display=swap');
@import "tailwindcss";


:root {
  /*backgrounds*/
  --color-ink-black: #09061A;
  --color-dark-amethyst: #1A0F47;

  /*action elements*/
  --color-violet-twilight: #5B3FD4;

  /*standard text*/
  --color-periwinkle: #D5D2F7;

  /*highlights*/
  --color-fresh-sky: #00AAFF;

  /*fonts*/
  --font-header: 'Syne', sans-serif;
  --font-body: 'DM Sans', sans-serif;
  --font-techy: 'Space Grotesk', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(135deg, var(--color-ink-black) 0%, var(--color-dark-amethyst) 100%);
  color: var(--color-periwinkle);
  font-family: var(--font-body);
}
